/math/0x00-linear_algebra/2-main.py
/math/0x01-plotting/pca.npz
/math/0x02-calculus/9-main.py
/math/0x02-calculus/10-main.py
/math/0x02-calculus/17-main.py
/math/0x03-probability/*-main.py
/supervised_learning/data/
/supervised_learning/0x00-binary_classification/*-main.py
/supervised_learning/0x01-multiclass_classification/*-main.py
/supervised_learning/0x01-multiclass_classification/2-output.pkl
/supervised_learning/0x02-tensorflow/*-main.py
