/math/0x00-linear_algebra/2-main.py
/math/0x01-plotting/pca.npz
/math/0x02-calculus/9-main.py
/math/0x02-calculus/10-main.py
/math/0x02-calculus/17-main.py
/math/0x03-probability/*-main.py
/supervised_learning/data/
/supervised_learning/0x00-binary_classification/*-main.py
/supervised_learning/0x01-multiclass_classification/*-main.py
/supervised_learning/0x01-multiclass_classification/2-output.pkl
/supervised_learning/0x02-tensorflow/*-main.py
/supervised_learning/0x03-optimization/*-main.py
/supervised_learning/0x04-error_analysis/*-main.py
/supervised_learning/0x05-regularization/*-main.py
/supervised_learning/0x06-keras/*-main.py
/math/0x04-convolutions_and_pooling/*-main.py
/supervised_learning/0x07-cnn/*-main.py
/supervised_learning/0x08-deep_cnns/*-main.py
/supervised_learning/0x0A-object_detection/*-main.py
/math/0x05-advanced_linear_algebra/*-main.py
/math/0x06-multivariate_prob/*-main.py
/unsupervised_learning/0x00-dimensionality_reduction/*-main.py
/math/0x07-bayesian_prob/*-main.py
/unsupervised_learning/0x01-clustering/*-main.py
/unsupervised_learning/0x02-hmm/*-main.py
/unsupervised_learning/0x03-hyperparameter_tuning/*-main.py
/unsupervised_learning/0x04-autoencoders/*-main.py
/supervised_learning/0x0D-RNNs/*-main.py
/supervised_learning/0x0F-word_embeddings/*-main.py
/supervised_learning/0x10-nlp_metrics/*-main.py
/supervised_learning/0x11-attention/*-main.py
/reinforcement_learning/0x00-q_learning/*-main.py
/supervised_learning/0x12-transformer_apps/*-main.py
/pipeline/0x00-pandas/*-main.py
/pipeline/0x00-pandas/coinbaseUSD_1-min_data_2014-12-01_to_2019-01-09.csv
/pipeline/0x00-pandas/bitstampUSD_1-min_data_2012-01-01_to_2020-04-22.csv
/pipeline/0x01-apis/*-main.py
